*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
  background: url("./fondoformulario.svg") center/cover no-repeat ;
}

#root{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
  animation: girar 1.5s ease-out;

}

label{
  display: flex;
  flex-direction: column; 
}

#GatoXd{
  width: 10rem;
  padding-bottom: 10px;
}

#Tarjeta{
  background-color: #807f85;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  max-width: 40rem;
  animation: girar 1.5s ease-out;
}

#Tarjeta h1{
  font-size: 2rem;
}

#info{
  overflow-wrap: anywhere;
}

#info p{
  border-bottom: 2px solid black;
  color: white;
}

  input[type= "submit"]{
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: #bcb7b2;
    border: 0px;
    border-radius: 10px;
  }

@keyframes girar{
  from{
      transform: rotateY(0deg);
  }
  
  to{
      transform: rotateY(360deg);
  }
}